.el-table__row--expanded {
  background: #FFFFF7 !important;
  td {
    border-color: transparent !important;
    background: #FFFFF7 !important;
  }
}

.el-table__no-scroll {
  left: 0;
  z-index: 4;
  min-width: 1085px;
  top: 0;
  &__inner {
    padding: 20px;
  }
}

.el-button--lc {
  border-radius: 2px;
  font-size: 12px;
  border: 1px solid $border-color;
  background: #f4f8fd;
  padding: 8px 12px;
  color: $el-button--lc-color;
  cursor: pointer;
  &:hover, &:focus {
    color: $el-button--lc-color;
    border-color: $border-color;
  }
  @include env_nami {
    box-shadow: 0px 0px 2px #eaeef9;
  }
}

.el-button--cute {
  background: $el-button--cute-bgcolor;
  padding: 5px 6px;
  border-radius: 3px;
  color: $primary-color-2;
  height: auto;
  border-color: $el-button--cute-bdcolor;
  a {
    color: $primary-color-2;
    text-decoration: none;
  }
  &:focus {
    color: $primary-color-2;
    border-color: #EAEEF9;
  }
  &:hover {
    color: $primary-color-2;
    border-color: #EAEEF9;
  }
}

.el-button--cute+.el-button--cute {
  margin-left: 2px;
}

.el-button--narrow {
  height: 32px;
}

.el-tabs--bd {
  .el-tabs__active-bar {
    display: none;
  }
  .el-tabs__content {
    overflow: visible;
  }
  .el-tabs__header {
    padding: 0 20px;
    border-color: #EAEEF9;
    margin-bottom: 20px;
  }
  .el-tabs__item {
    border: 1px solid #EAEEF9;
    background: #F4F8FD;
    @include env_yiye {
      background: #f3f5fb;
    }
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 0 12px;
  }
  .el-tabs__item.is-active {
    background: #fff;
    border-bottom: none;
    color: $primary-color-2;
  }
}
.el-tabs--bd-width {
  .el-tabs__item {
    padding: 0 30px;
  }
}

.el-dialog--bd {
  .el-dialog__title {
    font-weight: normal;
    font-size: 14px;
  }
  .el-dialog__body {
    padding: 15px 0;
  }
  .el-dialog {
    width: 530px;
  }
  .el-input {
    max-width: 300px;
    display: block;
  }
  .label {
    margin-bottom: 10px;
    display: block;
  }
}

.el-table--row-higher::after {
  background-color: transparent;
}

.el-table--row-higher::before {
  background-color: transparent;
}

.el-table--row-higher {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  .el-table__body-wrapper {
    .el-table__row {
      td {
        height: 50px;
        border-bottom: 1px solid #eaeef9;
      }
      .title {
        font-size: 12px;
      }
    }
  }
  .cell,
  .el-table th>div {
    white-space: nowrap;
  }
  .el-input,
  .el-input__inner {
    width: 150px;
  }
  .el-table__body tr:hover>td {
    background-color: #fbfdff;
  }
  th.is-leaf {
    border-bottom: 1px solid #eaeef9;
    border-top: 1px solid $th-is-leaf;
  }
  .button-tool {
    text-decoration: none;
    border: 1px solid #eaeef9;
    background: #f4f8fd;
    border-radius: 2px;
    padding: 4px;
    color: $primary-color-1;
    cursor: pointer;
  }
}

.el-table--td-higher {
  .el-table__row {
    td {
      height: 85px;
    }
  }
}

.el-menu--dashboard-menu-lc {
  li {
    padding-left: 70px!important;
    font-size: 12px!important;
    color: $text-color;
  }
  .fa-map-marker {
    font-size: 16px !important;
  }
  i {
    padding-right: 10px;
    width: 20px;
    height: 20px;
  }
  .el-menu-item {
    line-height: 46px;
    height: 46px;
  }
}

.el-menu--tool-menu-lc {
  text-align: center;
  li {
    font-size: 12px;
    color: $text-color;
  }
  i {
    padding-right: 10px;
    position: relative;
    top: -1px;
  }
  .el-menu-item {
    line-height: 46px;
    height: 46px;
  }
}

// 左侧菜单栏样式
.el-menu--lc,
.el-menu--left-side {
  height: 100%;
  background-color: #fff;
  .el-menu-item {
    line-height: 32px;
    height: 32px;
    &:hover {
      color: $primary-color-1;
      i {
        color: $primary-color-1;
      }
    }
  }
  .el-submenu {
    line-height: 30px;
    .el-submenu__title {
      height: 40px;
      line-height: 40px;
      font-size: 12px;
      color: $text-color;
      &:hover {
        color: $primary-color-1;
        i {
          color: $primary-color-1;
        }
      }
      .el-icon-arrow-down:before {
        color: $primary-color-1;
      }
    }
    .el-menu {
      padding-left: 55px;
      background-color: #fff;
      .el-menu-item {
        min-width: 180px; 
        color:#666;
        &.is-active{
          color: $primary-color-1;
        }
        &:last-child {
          margin-bottom: 6px;
        }
      }
    } 
  }
  li {
    font-size: 12px;
    color: $text-color;
  }
  .el-menu-item:hover,
  .el-submenu__title:hover {
    background-color: #f7f7f7;
    color: $primary-color-1;
  }
  .el-menu-item:hover,
  .el-submenu__title:hover {
    background-color: #f7f7f7;
    color: $primary-color-1;
    i {
      color: $primary-color-1;
    }
  }
}

.el-dialog--lc {
  font-size: 12px;
  color: $text-color;
  .title {
    padding-bottom: 5px;
    display: inline-block;
  }
  .el-dialog__header {
    padding: 13px 15px 0;
  }
  .el-dialog__title {
    font-size: 14px;
    color: #333;
  }
  .el-dialog__body {
    font-size: 12px;
    color: $text-color;
    .title {
      padding-bottom: 5px;
      display: inline-block;
    }
    .el-dialog__header {
      padding: 13px 15px 0;
    }
    .el-dialog__title {
      font-size: 14px;
      color: #333;
    }
    .el-dialog__body {
      font-size: 12px;
      color: $text-color;
    }
    .el-dialog__footer {
      text-align: center;
    }
  }
}

// 预览时没有按钮的弹出层
.el-dialog--no-button-lc {
  font-size: 12px;
  color: $text-color;
  .el-dialog__header {
    padding: 13px 15px 0;
  }
  .el-dialog__title {
    font-size: 14px;
    color: #333;
  }
  .el-dialog__body {
    font-size: 12px;
    color: $text-color;
    padding: 20px 20px 30px 20px;
  }
  .el-dialog__close {
    font-size: 12px;
    position: relative;
    right: 0px;
    top: -3px;
    transform: scale(0.6, 0.6);
    font-weight: bold;
    color: #909090;
  }
}

// 编辑中返回的弹出层
.el-dialog--lc-return {
  font-size: 12px;
  color: $text-color;
  .el-dialog__header {
    padding: 13px 15px 0;
  }
  .el-dialog__title {
    font-size: 14px;
    color: #333;
  }
  .el-dialog__body {
    font-size: 12px;
    color: $text-color;
    .el-dialog-icon {
      font-size: 32px;
      color: #f7ba2a;
      position: absolute;
      top: 30%;
    }
    .el-dialog-tip-1 {
      margin-left: 50px;
      display: inline-block;
      margin-bottom: 0;
      position: relative;
      top: -4px;
    }
  }
  .el-dialog__close {
    font-size: 12px;
    position: relative;
    right: 0px;
    top: -3px;
    transform: scale(0.6, 0.6);
    font-weight: bold;
    color: #909090;
  }
}

.el-dialog-popular {
  .el-dialog--tiny {
    width: 530px;
  }
}
// 全局input框字体颜色及大小
.el-input--border-color {
  .el-input__inner {
    border: 1px solid #eaeef9;
    @include env_nami {
      box-shadow: 0px 0px 2px #eaeef9!important;
    }
    height: 32px !important;
    font-size: 12px;
    border-radius: 2px;
    padding: 3px 5px;
  }
  .el-input__inner:hover {
    border-color: #eaeef9;
  }
  .el-input__inner:focus {
    border-color: #eaeef9;
  }
  .el-input-group__append,
  .el-input-group__prepend {
    border-right: 1px solid #eaeef9;
    border-top: 1px solid #eaeef9;
    border-bottom: 1px solid #eaeef9;
    @include env_nami {
      box-shadow: 0px 0px 2px #eaeef9;
    }
    border-radius: 2px;
  }
}

.el-input--border-color.el-select:hover .el-input__inner {
  border-color: #eaeef9;
}

// 带搜索框的input框
.el-input--search-lc {
  .el-input__inner {
    border: 1px solid #eaeef9;
    @include env_nami {
      box-shadow: 0px 0px 2px #eaeef9!important;
    }
    height: 32px!important;
    font-size: 12px;
    border-radius: 2px;
    padding: 3px 5px;
  }
  .el-input__inner:hover {
    border-color: #eaeef9!important;
  }
  .el-input__inner:focus {
    border-color: #eaeef9!important;
  }
}

// 带筛选条件的input框
.el-input--border-slot-input {
  .el-input__inner {
    border-right: 0;
    border-top: 1px solid #eaeef9;
    border-bottom: 1px solid #eaeef9;
    border-left: 0;
    border-radius: 2px;
  }
  .el-input-group__prepend {
    border: 1px solid #eaeef9;
    border-right: 0;
    @include env_yiye {
      background-color: $el-button--cute-bgcolor
    }
  }
  .el-input-group__append {
    color: $primary-color-1;
    @include env_yiye {
      color: #999;
    }
    font-size: 16px;
    padding: 0px;
    border-radius: 2px;
  }
  .el-input--border-slot-select {
    .el-input {
      .el-input__inner {
        color: #333;
        @include env_nami {
          color: #6A7398;
        }
        &:hover {
          color: #333;
        }
      }
    }
  }
  .el-input-group__prepend div.el-select .el-input__inner,
  .el-input-group__prepend div.el-select:hover .el-input__inner {
    color: #333;
  }
}


// 取消样式
.el-button--global-flase-lc {
  padding: 10px 15px;
  height: 32px;
  line-height: 0;
  background: #fff;
  border: 1px solid #c4c4c4;
  color: $text-color;
}

.el-checkbox--table-lc {
  .el-checkbox__inner {
    width: 12px;
    height: 12px;
    &:after {
      height: 7px;
      left: 2px;
      top: -1px;
    }
  }
}

// 客资管理checkbox样式
.el-checkbox--login-lc {
  .el-checkbox__inner {
    width: 12px;
    height: 12px;
    &:after {
      height: 7px;
      left: 2px;
      top: -1px;
    }
  }
}

// 小用户组编辑checkbox
.el-checkbox--smail {
  .el-checkbox__inner {
    width: 14px;
    height: 14px;
    &:after {
      height: 8px;
      left: 3px;
      top: 0px;
    }
  }
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: $primary-color-1;
    border-color: $primary-color-1;
  }
}

.el-table--application-forms {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-size: 12px;
  .el-table__header-wrapper thead div {
    color: $text-color;
  }
  .el-table__row {
    td {
      height: 60px;
      border-bottom: 1px solid #eaeef9;
      .cell {
        color: $text-color;
      }
    }
  }
  .cell,
  .el-table th>div {
    padding-left: 30px;
    white-space: nowrap;
  }
  .el-input,
  .el-input__inner {
    width: 150px;
  }
  .el-table__body tr:hover>td {
    background-color: #fbfdff;
  }
  th.is-leaf {
    border-bottom: 1px solid #eaeef9;
    border-top: 1px solid #eaeef9;
    cursor: pointer;
  }
  .time-format:first-child {
    position: relative;
    top: 4px;
  }
  .time-format:last-child {
    color: #cccccc;
    position: relative;
    top: -3px;
  }
  .button-tool {
    text-decoration: none;
    border: 1px solid #eaeef9;
    background: #f4f8fd;
    border-radius: 2px;
    padding: 4px;
    color: $primary-color-1;
    cursor: pointer;
  }
}

.el-table--application-forms::after {
  background-color: transparent;
}

.el-table--application-forms::before {
  background-color: transparent;
}

// 数据统计日期框
.el-data-picker--lc {
  width: 290px!important;
  .el-input__icon {
    &:before {
      content: "\E611";
    }
  }
}

.el-data-picker--behavior-lc {
  width: 295px!important;
  .el-input__icon {
    &:before {
      content: "\E611";
    }
  }
}

.el-daterange--lc {
  .el-input__icon.el-icon-close {
    &:before {
      content: "\E60A";
    }
  }
}

.el-input--border-color-data {
  .el-input__icon.el-icon-caret-top {
    &:before {
      content: "\E930";
      color: $primary-color-2;
    }
  }
  .is-reverse {
    &:before {
      content: "\E689";
      color: $primary-color-2;
    }
  }
}

.el-select--lc {
  margin-right: 5px;
  width: 130px;
}

// 浅蓝色按钮
.el-button--global-style {
  border-radius: 2px;
  border: 1px solid #eaeef9;
  background: #f4f8fd;
  margin: auto;
  color: $primary-color-1;
  cursor: pointer;
  @include env_nami {
    box-shadow: 0px 0px 2px #eaeef9;
  }
  &:hover {
    border-color: #DFE6F7;
  }
  &:focus {
    border-color: #eaeef9;
    color: $primary-color-1;
  }
}

.el-dialog--details-lc {
  .details-name {
    text-align: right;
  }
  .details-content {
    text-align: left;
  }
}

.el-dialog--details-lc {
  .details-name {
    text-align: right;
  }
  .details-content {
    text-align: left;
  }
}

.el-input--border-color-data .el-input__inner {
  background-color: #f4f8fd;
  color: #0055d8;
  @include env_yiye {
    color: #6A7398;
  }
}
