$yiyeBlue: #355e98;

.main {
  @include env_nami {
    display: flex;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    top: 60px;
    overflow-y: auto;
  }
}

// 上方导航背景色
.header .el-menu {
  background-color: transparent !important;
}

// 左侧导航位置
.main .menu-expanded .el-menu.el-menu-vertical-demo:nth-child(1) {
  padding-top: 20px;
}

// 短信模板的手机input
.sms-add .middle-part .el-form-item .el-form-item__content {
  margin-left: 0!important;
}

.sms-edit .middle-part .el-form-item .el-form-item__content {
  margin-left: 0!important;
}
.sms-edit .el-dialog,
.sms-add .el-dialog {
  border-radius: 2px;
}

.sms-template-container .el-dialog__body,
.form-template-container .el-dialog__body,
.comment-template-container .el-dialog__body,
.landing-page-template-container .el-dialog__body,
.child-account-container .el-dialog__body,
.super-template-container .el-dialog__body,
.order-template-container .el-dialog__body {
  padding: 50px 110px;
}
.group-sms-dialog .el-dialog__body, .group-send-dialog .el-dialog__body{
  padding: 20px 110px 35px 110px;
}
.see-sms-dialog .el-dialog__body{
  padding: 0px;
}

.lp-fill-form-template-container .el-dialog__body {
  text-align: center;
}

.sms-template-container .el-input__inner,
.form-template-container .el-input__inner,
.comment-template-container .el-input__inner,
.landing-page-template-container .el-input__inner {
  border: 1px solid $el-button--cute-bdcolor;
}

.super-template-container .el-table__row .title {
  font-size: 12px;
}

// 新建编辑textarea
.sms-edit .el-textarea__inner,
.sms-add .el-textarea__inner,
.sms-edit .el-input__inner,
.sms-add .el-input__inner,
.lp-fill-form-template-container .el-textarea__inner {
  border: 1px solid $el-button--cute-bdcolor;
  font-size: 12px;
}

// 未处理客资前面的小圆点
.el-badge__content.is-fixed {
  position: absolute;
  left: -25px;
  top: 12px;
}

// 短信模板show页面的input框高度
.input-height .el-textarea__inner {
  height: 130px;
  border-radius: 0px;
  text-indent: 75px;
}

// 客资反馈弹出框的textarea高度
.textarea-height .el-textarea__inner {
  height: 80px;
}

.sms-edit .el-form-item__content,
.sms-add .el-form-item__content {
  line-height: 30px;
}

.select-signature-select {
  margin-left: 15px;
  line-height: 48px;
}

.personal-info-main .el-form-item__label {
  font-size: 12px;
}

.personal-info-main .el-form-item__content {
  text-align: left;
}

.personal-info-main .el-row {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.perfect-info-main .el-form-item__label {
  font-size: 12px;
}

.perfect-info-main .el-form-item__label {
  color: #333;
}

.el-daterange--lc .el-input__inner {
  font-family: tahoma, arial, 'Hiragino Sans GB', "Microsoft YaHei", "STHeiti", \5b8b\4f53, sans-serif!important;
}

.batch-opration-lc {
  border-radius: 2px;
  margin: 10px 0px 10px 20px;
  float: left;
  font-size: 12px;
  border: 1px solid $el-button--cute-bdcolor;;
  background: #f4f8fd;
  padding: 8px 12px;
  color: #0059d5;
  cursor: pointer;
  box-shadow: 0px 0px 2px $el-button--cute-bdcolor;
}

.top-flow-number,
.top-flow-pv-number {
  font-family: 'RobotoCondensed';
}

// 标题字体大小(副本)
.single-page-title {
  font-size: 14px;
}

.list-global-lc {
  font-size: 12px;
  color: $text-color;
}

.compare-height {
  .el-input__inner {
    height: 30px!important;
  }
}

.main-container table th>div,
.first-container table tr>td:first-child {
  color: #4e66ae;
  @include env_yiye {
    color: #666666
  }
  font-weight: normal
}

.el-table thead tr,
.el-table thead tr th,
.el-table thead tr th>div {
  background: #f4f8fd;
  @include env_yiye {
    background-color: #f7f7f7;
  }
  font-weight: normal;
}

// 设置所有表格的文字大小
.main-container table {
  font-size: 12px;
}

.area-main .el-tabs__header {
  margin: 0px
}

.mi {
  color: #ff4949;
  &.mi-pr {
    padding-right: 4px;
  }
}

.err-msg {
  color: #ff4949;
  margin-top: 5px;
  position: absolute;
  i {
    padding-right: 2px;
  }
}

.style--yiye {
  .login-header-img{
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #EDF0FA;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .header.header-toolbar {
    // background: $yiyeBlue!important;
    // border-bottom: 0px!important;
    .el-menu-demo {
      background-color: $yiyeBlue!important;
    }
    .el-menu--top-style {
      top: 0px;
      .el-menu-item {
        color: #adb9d1; 
        &:hover {
          color: #fff;
          background-color: $yiyeBlue;
        }
        &.is-active {
          color: #fff;
          border-bottom: 5px solid #fff;
        }
      }
      .el-submenu {
        .el-submenu__title {
          padding: 0;
          color: #adb9d1;
          &:hover {
            color: #fff;
            background-color: $yiyeBlue;
            .el-submenu__icon-arrow {
              &.el-icon-caret-bottom {
                color: #fff;
              }
            }
          }
        }
        .el-submenu__icon-arrow {
          &.el-icon-caret-bottom {
            color: #adb9d1;
          }
        }
        &.is-active {
          .el-submenu__title {
            border-bottom: 5px solid #fff;
          }
          .children-name-opacity {
            color: #fff;
          }
          .el-submenu__icon-arrow {
            &.el-icon-caret-bottom {
              color: #fff;
            }
          }
        }
        .el-menu .el-menu-item {
          color: #333;
          &:hover{
            background-color: #f4f8fd;
            color: $yiyeBlue;
          }
          &.is-active {
            color: $yiyeBlue;
            border-bottom: 0px;
            
          }
        }
        &.is-opened {
          .el-submenu__icon-arrow {
            &.el-icon-caret-bottom {
              color: $yiyeBlue;
            }
          }
          .el-submenu__title {
            &:hover {
              .el-submenu__icon-arrow {
                &.el-icon-caret-bottom {
                  color: $yiyeBlue;
                }
              }
            }
          }
          .children-name {
            color: $yiyeBlue;
          }
        }
      }
    }
    .user-info {
      .user-name {
        .name {
          color: #fff;
          .arrow-down-icon:before {
            color: #fff;
          }
          .arrow-up-icon:before {
            color: $yiyeBlue;
          }
        }
        .name-boder{
          color: $yiyeBlue;
        }
      } 
      .iconfont-news-style {
        .info-icon{
          color: #fff;
        }
      }
      .user-toolbar {
        a:hover {
          color: $yiyeBlue;
        }
      }
      .loginout{
        &:hover {
          color: $yiyeBlue;
        }
      }
    }
  }
}

