$primary-color-1:#0059d5;
$primary-color-2: #0059d5;
$text-color: #333;
$border-color: #eaeef9;
$border-color-1: #abc9f2;
$env-name: 'nami';

$el-button--primary-hover-color: #1458b5;
$el-button--lc-color:#0059d5;
$el-button--cute-bgcolor:#F4F8FD;
$el-button--cute-bdcolor:#EAEEF9;
$th-is-leaf:#eaeef9;

$lc-dropdown-bdcolor: #aecaf4;
$lc-dropdown-bgcolor: #f4f8fd;
$lc-dropdown-hover-text: #0059d5;
$page-builder-bottom-height: 53px;
// 历史遗留变量，别用！！
$blue: #0059d5;
