$primary-color-1: #36af89;
$primary-color-2: #6a7398;
$text-color: #333;
$border-color: #eaeef9;
$border-color-1: #eaeef9;
$env-name: 'yiye';

$el-button--primary-hover-color: #25c491;
$el-button--lc-color: #6A7398;
$el-button--cute-bgcolor: #F3F5FB;
$el-button--cute-bdcolor: #EBEFFC;
$th-is-leaf: #ffffff;

$lc-dropdown-bdcolor: #EBEFFC;
$lc-dropdown-bgcolor: #F3F5FB;
$lc-dropdown-hover-text: #333;
$page-builder-bottom-height: 70px;
// 历史遗留变量，别用！！
$blue: #6a7299;
