@import "~scss_vars";
.unread-count {
  background: #ff5f01;
  color: #fff;
  border-radius: 16px;
  padding: 0px 5px;
  min-width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}
